#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title {
  font-size: 50px;
  font-weight: 500;
  margin: 25px;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.name {
  width: 400px;
  font-size: 20px;
}

.note {
  width: 400px;
  font-size: 20px;
}

.notes_container {
  max-height: 500px;
  overflow-y: auto;
}
.notecard {
  border: 1px solid rgb(185, 169, 169);
  border-radius: 8px;
  margin: 10px;
}

.note_title {
  font-size: 25px;
  font-weight: 500;
  color: rgb(248, 146, 146);
}

.note_content {
  font-size: 20px;
  color: rgb(211, 107, 107);
  border: 2px solid rgb(110, 101, 101);
  border-radius: 8px;
  padding: 10px;
  margin: 5px 20px;
}

.note_id {
  font-size: 12px;
  margin: 10px;
  text-align: right;
}

textarea {
  resize: none;
}

#button {
  font-size: 20px;
}

.wrp {
  max-height: 500px;
  overflow-y: auto;
  margin: 25px;
}

.article {
  gap: 15px;
}

table {
  margin: 15px;
  border: 2px solid rgb(255, 255, 255);
  letter-spacing: 1px;
  max-width: 400px;
}

thead {
  background-color: rgb(41, 99, 138);
}

th,
td {
  border: 1px solid rgb(255, 255, 255);
  padding: 8px 10px;
}

tbody > tr > td:nth-child(2) {
  text-align: center;
  word-break: break-all;
  white-space: normal;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(101, 101, 104);
}

tbody > tr > td:first-child,
tbody > tr > td:nth-child(2) {
  text-align: center;
}
