#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  /* padding: 2rem; */
}
.App.dark {
  background-color: #1a1a1a;
  color: white;
}
.App.light {
  background-color: rgb(228, 228, 228);
  color: rgb(58, 58, 58);
}

.form {
  display: flex;
  flex-direction: column;
  padding: 0px 70px;
}

.title,
.content,
.message {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.field,
.input {
  display: flex;
  height: 40px;
  box-sizing: border-box;
}

.field {
  flex: 1 0 50px;
  margin: 3px 1px;
  padding: 3px 10px;
}

.input {
  flex: 1 0 200px;
  margin: 3px 1px;
  padding: 0px 5px;
  font-size: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: rgb(252, 252, 252);
  color: rgb(34, 34, 34);
}

.btnCtn {
  display: flex;
  justify-content: center;
  margin: 15px;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(58, 58, 58);
  border-radius: 10px;
  align-items: flex-start;
  align-content: center;
  padding: 5px;
  gap: 15px;
  max-height: 500px;
  /* overflow-y: auto; */
  padding: 0px 70px;
  margin: 5px 50px;
}

.card_check {
  width: 15px;
  height: 15px;
  margin: 5px 10px;
  flex: 1 1 10px;
}
.App.light .card_check {
  background-color: black;
  accent-color: #1a1a1a; /* 底色與打勾顏色 */
}
.App.Dark .card_check {
  background-color: black;
  accent-color: #fff; /* 深色主題下的顏色 */
}

.card_title {
  font-weight: 700;
  flex: 1 1 50px;
}
.card_content {
  margin: unset;
  max-width: 500px;
  word-wrap: break-word;
  flex: 1 1 500px;
}
.card_time {
  font-size: small;
  margin: 5px;
  text-align: right;
  flex: 1 1 100px;
}

.themeToggle {
  width: 300px;
  align-self: self-end;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: rgb(163, 163, 163);
  color: rgb(58, 58, 58); */
  cursor: pointer;
  transition: border-color 0.25s;
}
/* button.dark {
  background-color: #1a1a1a;
} */
button:hover {
  color: rgba(255, 255, 255, 0.87);
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
